# =====================
# CONFIG (DO NOT COMMIT SECRETS)
# =====================
Backend/src/main/resources/application.properties
Backend/src/main/resources/application.yml

# =====================
# LOGS
# =====================
Backend/logs/
*.log
*.gz

# =====================
# BUILD OUTPUT
# =====================
Backend/target/
Backend/build/
Backend/dist/
Backend/nbdist/
Backend/nbbuild/

# =====================
# MAVEN
# =====================
Backend/.mvn/wrapper/maven-wrapper.jar
Backend/target/
# =====================
# IDE - IntelliJ / Eclipse / STS
# =====================
Backend/.idea/
Backend/*.iml
Backend/*.iws
Backend/*.ipr
Backend/.vscode/

Backend/.classpath
Backend/.project
Backend/.settings/
Backend/.springBeans
Backend/.apt_generated
Backend/.github/

# =====================
# NETBEANS
# =====================
Backend/nbproject/

# =====================
# DOCS
# =====================
*.docx

.idea/
.vscode/

FrontEndF/node_modules
FrontEndF/.env
FrontEndF/dist
FrontEndF/build

FrontEndF/velson_template/
PFERTC/artifacts/logs/
PFERTC/artifacts/metrics/
PFERTC/artifacts/models/

docs/
Backend/src/main/java/depl
Backend/src/main/java/depl/mintty.exe.stackdump
Backend/main/resources/
Backend//main/

Backend/mintty.exe.stackdump
Backend/*.stackdump
Backend/src/main/resources/sql/

depl/
/codex-idea2/
/codex-memory2/
/docs/
/suivi-pfe2/
Backend/src/UML/

# ENV / SECRETS
.env
*.env
!.env.example
/auth-service/.env
/FrontEndF/.env
/docker/.env.example

auth-service/target/
Backend/target/

auth-service\src\main\resources/