# =========================
# Build
# =========================
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# =========================
# Config (Spring Boot)
# =========================
application.properties
application.yml

# =========================
# Logs
# =========================
logs/
*.log
*.gz

# =========================
# Archives
# =========================
*.rar
*.zip

# =========================
# Data
# =========================
src/main/data/

# =========================
# Template config (versionné)
# =========================
!application-example.properties

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iws
*.iml
*.ipr

# =========================
# STS / Eclipse
# =========================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# =========================
# NetBeans
# =========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS / system files
# =========================
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
HELP.md
comparaison_pfecoding.docx