# =====================
# CONFIG (DO NOT COMMIT SECRETS)
# =====================
src/main/resources/application.properties
src/main/resources/application.yml

# =====================
# LOGS
# =====================
/logs/
*.log
*.gz

# =====================
# BUILD OUTPUT
# =====================
target/
build/
dist/
nbdist/
nbbuild/

# =====================
# MAVEN
# =====================
.mvn/wrapper/maven-wrapper.jar

# =====================
# IDE - IntelliJ / Eclipse / STS
# =====================
.idea/
*.iml
*.iws
*.ipr
.vscode/

.classpath
.project
.settings/
.springBeans
.apt_generated

# =====================
# NETBEANS
# =====================
/nbproject/

# =====================
# DOCS
# =====================
*.docx



frontend/node_modules
frontend/.env
frontend/dist
frontend/build


PFERTC/artifacts/logs/
PFERTC/artifacts/metrics/
PFERTC/artifacts/models/

docs/
src/main/java/depl
src/main/java/depl/mintty.exe.stackdump
main/resources/

mintty.exe.stackdump
*.stackdump