KEYCLOAK_BASE_URL=http://localhost:8091
KEYCLOAK_REALM=my-realm
KEYCLOAK_CLIENT_ID=auth-service
KEYCLOAK_CLIENT_SECRET=CHANGE_ME_KEYCLOAK_CLIENT_SECRET
KEYCLOAK_ADMIN_CLIENT_ID=auth-service-admin
KEYCLOAK_ADMIN_CLIENT_SECRET=CHANGE_ME_KEYCLOAK_ADMIN_CLIENT_SECRET

SPRING_DATASOURCE_USERNAME=pfeuser
SPRING_DATASOURCE_PASSWORD=CHANGE_ME_DB_PASSWORD

ZABBIX_USERTOKEN=CHANGE_ME_ZABBIX_USERTOKEN
SNMP_TOKEN=CHANGE_ME_SNMP_TOKEN
