KEYCLOAK_BASE_URL=http://localhost:8091
KEYCLOAK_REALM=my-realm
KEYCLOAK_CLIENT_ID=auth-service
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_ADMIN_CLIENT_ID=auth-service-admin
KEYCLOAK_ADMIN_CLIENT_SECRET=
APP_CORS_ALLOWED_ORIGINS=http://localhost:4200
